#map_info {
    height: 650px;
}


#mapid {
    width: 1200px;
}

#distance_bar {
    width: 100%;
}

#pref_select{
    width: 100px;
    font-size: 18px;
}

.pref-select-container {
    display: inline-flex;
    align-items: center;
}

#pref-select-button{
    width: 60px;
    margin-left: 10px;
}



.header {
    margin-top: -10px;
    margin-bottom: -20px;
}

#header_tag{
    display: inline-flex;
    align-items: center;
}

#selected_pref{
    margin-left: 15px;
}

.recommend_range {
    display: flex;
    flex-direction: column;
}

.highlighted_info {
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 10px;
    background-color: #bfe7fa;
    border: 1px solid #7099bed3;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.unhighlighted_info {
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 10px;
    border: 1px solid #9bbcbed3;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* 文字の色を薄くする */
}

.normal_info {
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 10px;
    border: 1px solid #9bbcbed3;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button {
    background-color: rgba(12, 116, 10, 0.74);
    color: white;
    border: none;
    padding: 5px 5px;
    text-align: center;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.button:disabled {
    opacity: 0.4;
    /* 透明度を調整して薄く表示 */
    cursor: not-allowed;
    /* カーソルを変更してクリックを無効に */
}

.button:hover {
    background-color: rgb(12, 116, 10);
}

#makecheckboxes {
    margin-top: 10px;
}

#add_selected_aspects {
    margin-top: 3px;
}

#decide_button {
    margin-top: 3px;
}

#fix_aspect {
    margin-top: 3px;
}


#selected_range {
    font-weight: bold;
    font-size: 18px;
}

/* 選択結果のスタイル */
.selected_results {
    margin-top: 15px;
    margin-right: 5px;
}

#fix_distance {
    margin-top: 2px;
}

.fixed-button-container {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
}

.resetButton {
    background-color: red;
    border-color: rgba(255, 0, 0, 0.81);
    border-radius: 8px;
    color: white;
    font-weight: bold;
    height: 35px;
    width: 150px;
    cursor: pointer;
    /* output 要素の右側にマージンを追加 */
}

.recommend_aspect_button {
    background-color: rgba(10, 86, 116, 0.74);
    color: white;
    border: none;
    padding: 5px 5px;
    text-align: center;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.recommend_aspect_button:disabled {
    opacity: 0.4;
    /* 透明度を調整して薄く表示 */
    cursor: not-allowed;
    /* カーソルを変更してクリックを無効に */
}

.recommend_aspect_button:hover {
    background-color: rgb(10, 86, 116);
}

.recommend_range p output {
    width: 30px;
    /* 固定したい output 要素の幅 */
    display: inline-block;
    /* インラインブロック要素に設定 */
    margin-right: 5px;
    /* output 要素の右側にマージンを追加 */
}


.custom_popup {
    font-size: 16px;
    /* 好みに応じて適切なフォントサイズを指定 */
}

.selected_latlng{
    font-size: 16px;
    font-weight: bold;
}

#explain {
    border-bottom: 2px solid grey;
    /* 下線のスタイルと色を指定 */
    display: inline;
    /* ブロック要素からインライン要素に変更 */
    padding-bottom: 2px;
    /* 下線とテキストの間隔を調整 */
}

#search_keyword {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* 地図コンテナの角を丸める */
.leaflet-container {
    border-radius: 20px;
    /* 任意の丸みの半径を指定 */
    overflow: hidden;
    /* 丸みがはみ出ないようにoverflowをhiddenに設定 */
}

#recommend_spot_info_frame {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-left: 5px;
    background-color: rgb(238, 238, 238);
}

#recommend_spot_info {
    height: 590px;
    width: 400px;
    cursor: pointer;
    background-color: rgb(238, 238, 238);
    overflow-y: scroll;
}

#recommend_spot_info_header {
    height: 25px;
    width: 400px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    /* 太字にする */

}


#map_info {
    display: flex;
}

#send_selected_results {
    display: end;
    /* 初期状態で非表示 */
}

#makecheckboxes {
    width: 300px;
    /* 任意の幅を指定 */
    height: 100px;
    /* 任意の高さを指定 */
    overflow-y: scroll;
    background-color: rgb(241, 241, 241);
}

#search_keyword {
    height: 25px;
}

.search_form {
    margin-right: 5px;
}

#head-selected_results {
    height: 25px;
    font-weight: bold;
}

#selected_results {
    width: 300px;
    /* 任意の幅を指定 */
    height: 100px;
    /* 任意の高さを指定 */
    overflow-y: scroll;
    background-color: rgb(241, 241, 241);
}


.parameters {
    display: flex;
    align-items: start;
    margin-top: 5px;
    margin-bottom: 5px;
    /* 上部のマージンを設定 */
}

.parameters {
    max-width: 780px;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.remove_button {
    cursor: pointer;
    color: black;
}

.leaflet-popup-content-wrapper {
    text-align: center;
}

.leaflet-popup-content img {
    max-width: 200px ;
    max-height: 200px ;
    width: auto;
    height: auto;
}

.leaflet-popup-content {
    max-width: 200px; 
    word-wrap: break-word; 
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}