#mapid {
    height: 800px;
    width: 1200px;
}
#distance_bar {
    width: 150px; /* 固定したい横幅を指定 */
    /* その他のスタイルを追加 */
}
.recommend_range {
    display: flex;
    flex-direction: column;
}
.highlighted {
    background-color: rgb(197, 237, 255); /* ハイライトの背景色 */
    font-weight: bold; /* 文字を太くする */
    /* 他にも必要なスタイルを追加 */
  }
.unhighlighted{
    color: rgba(0, 0, 0, 0.6); /* 文字の色を薄くする */
}

.recommend_range p output {
    width: 30px; /* 固定したい output 要素の幅 */
    display: inline-block; /* インラインブロック要素に設定 */
    margin-right: 5px; /* output 要素の右側にマージンを追加 */
}


.custom_popup {
    font-size: 16px; /* 好みに応じて適切なフォントサイズを指定 */
}

#recommend_spot_info{
    height: 775px;
    width: 400px;
    cursor: pointer;
    background-color: seashell;
    overflow-y: scroll;
}

#recommend_spot_info_header{
    height: 25px;
    width: 400px;
    font-size: 24px;
    text-align: center;
}

#map_info{
    display: flex;
}
#send_selected_results {
    display: end;
    /* 初期状態で非表示 */
}

#makecheckboxes {
    width: 300px; /* 任意の幅を指定 */
    height: 100px; /* 任意の高さを指定 */
    overflow-y: scroll;
    background-color: Seashell;
}
#search_keyword{
    height: 25px;
}
#head-selected_results{
    height: 25px;
}
#selected_results{
    width: 300px; /* 任意の幅を指定 */
    height: 100px; /* 任意の高さを指定 */
    overflow-y: scroll;
    background-color: Seashell;
}


.parameters {
    display: flex;
    align-items: start;
}



.remove_button {
    cursor: pointer;
    color: black;
}