<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <title>観光スポット推薦システム</title>
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/for_interface.css') }}">
</head>

<body>
    <header class="header">
        <h1 id="header_tag">
            <div> 観光スポット推薦システム </div>
        </h1>
    </header>
    <form action="/岡山県" name="pref_form" method="POST">
        <div class="pref-select-container">
            観光予定の都道府県を選択してください。
            <select name="prefecture" id="pref_select">
                <option selected >岡山県</option>
                <option >京都府</option>
                <option >佐賀県</option>
                <!-- <option >島根県</option>
                <option >鳥取県</option>
                <option >山口県</option>
                <option >広島県</option>
                <option >兵庫県</option>
                <option >静岡県</option>
                <option >東京都</option> -->
            </select>
            <input class="button" type="submit" id="pref-select-button" value="移動">
        </div>
    </form>
    <script src="{{ url_for('static',filename = 'js/start_for_interface.js') }}"></script>
</body>

</html>