<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8"/>
        <title>観光スポット推薦システム</title>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
        <link rel="stylesheet" href="../static/css/for_interface.css">
    </head>
    <body>
        <header class="header">観光スポット推薦システム ver Beta</header>
        <div id="mapid"></div>
        <script src="../static/js/for_interface.js"></script>
        <main>
            好きな単語を入力してください
        </main>

    </body>
</html>