<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <title>観光スポット推薦システム</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/for_interface.css') }}">
</head>

<body>
    <header class="header">
        <h1>観光スポット推薦システム</h1>
    </header>
    <p>検索したい観光スポットの特徴を入力してください</p>
    <div class="parameters">
        <form class="search_form" id="search_form" action="/search_form" method="POST">
            <input type="search" id="search_keyword" name="search_keyword" placeholder="検索キーワード・文を入力">
            <input type="submit" id="submit_query" name="submit" value="検索">
            <div id="makecheckboxes"></div>
            <input type="button" id="add_selected_aspects" value="観点を追加">
        </form>
        <div class = "selected_results">
            <div id="head-selected_results">選択した観点</div>
            <div id="selected_results"></div>
            <input type="button" name="decide" id="decide_button" value="観点を決定">
        </div>
        <div class="recommend_range" role="group">
            <p>推薦範囲: <output id="selected_range"></output> (km) </p>
            <input type="range" name="distance_bar" id="distance_bar" min="1" max="100" step="1" value="50">
        </div>
    </div>
    <div id="map_info">
        <div id="mapid"></div>
        <div id="recommend_spot_info"></div>
    </div>
    <script src="{{ url_for('static',filename = 'js/get_keywords.js') }}"></script>
    <script src="{{ url_for('static',filename = 'js/add_aspects.js') }}"></script>
    <script src="{{ url_for('static',filename = 'js/send_selected_aspects.js') }}"></script>
    <script src="{{ url_for('static',filename = 'js/range_bar.js') }}"></script>
    <script src="{{ url_for('static',filename = 'js/for_interface.js') }}"></script>
</body>

</html>